.App {
  text-align: center;
}

.App{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .main {
  display: flex;
  font-size: calc(20px + 3vmin)
}

.App .middle .button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 30px;
}


